APP_NAME=Trumac
APP_ENV=local
APP_KEY=base64:NL5kxnU+H2grB/XJAF0oJBmkr1Y2hahr09lA7XJ34ZE=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug



DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=trumac
DB_USERNAME=team
DB_PASSWORD='AaibuzzTeam#123'

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL CONFIG
MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_NAME=aaibuzzmail@gmail.com
MAIL_USERNAME=aaibuzzmail@gmail.com
MAIL_PASSWORD=opwvzxulnxhiqlss
MAIL_ENCRYPTION=tls

REVERB_APP_ID=133668
REVERB_APP_KEY=h9fhgl1s1gygray2aafi
REVERB_APP_SECRET=y1hxlpkfo4gznourbr7z
REVERB_HOST="api.trumac.aaibuzz.com"
REVERB_PORT=6005
REVERB_SCHEME=https

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VULTR_ACCESS_KEY_ID=755K176ANQ8SGKO1M4RV
VULTR_SECRET_ACCESS_KEY=iwNu8KsOTGjRvoaGcjGlKUooqIE5Rdm410CR1BsE
VULTR_DEFAULT_REGION=blr1
VULTR_BUCKET=space-1
VULTR_ENDPOINT=https://blr1.vultrobjects.com
VULTR_USE_PATH_STYLE_ENDPOINT=false

