/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
deployment-config.json
public/trumac-53d41-firebase-adminsdk-fbsvc-dc35bdc95e.json
public/trumac-53d41-firebase-adminsdk-fbsvc-dc35bdc95e.json
